.giftimg {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 5px;
    width: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
    margin: 10px;
}

.container {
    text-align: center;
    padding: 10px 20px;
    font-family: "American Typewriter";
    font-color: black;
}