
.list {
    text-align: left;
    font-family: "American Typewriter";
    font-color: black;
}

.overlay {
    position: relative;
    text-align: center;
    margin-left: 30px;
}

.custom-select {
    background-color: lightgreen;
}