.App {
  background-size: cover;
}

.room {
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.room::before {
  content: "";
  background-image: url("azalea.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  opacity: .4;
}


.App-header {
  background-color: darkgreen;
  height: 20vh;
  pointer-events: none;
  align-items: flex-end;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo infinite 20s linear;
  }
}

h1 {
  position: absolute;
  left: 400px;
  color: antiquewhite;
  font-family: "Snell Roundhand";
  font-size: 50px;
}

.logo {
  position: absolute;
  top: 30px; left: 30px;
  background-color: darkgreen;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}